<div class="row">
  <% tickers.each do |ticker| %>
  	<div class="col-4">
  		<div class="card">
  			<div class="card-header">
  				<%= ticker.symbol %>
  			</div>
  			<div class="car-body">
  				Price change <%= ticker.priceChange.positive? ? "+": "-" %> <%= ticker.priceChangePercent %>%
  				Price: <%= ticker.weightedAvgPrice.round(2) %>

  			</div>
  		</div>
  	</div>
  <% end %>
</div>